
/* a full screen size overlay container
child items are aligned at the bottom right of this container
*/
.overlayContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;
  display:flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: flex-end;
}
